body {
    margin: 0;
    padding: 0;
    background-color: #CAD2C5;
    color: #2F3E46;
}

@media (min-width: 790px) {

    /* NAV */
    nav {
        width: 100%;
        height: 10vh;
        background-color: #2F3E46; 
        color: white;
    }

    section {
        min-height: 50vh;
        max-height: 300vh;
        width: 100%;
    }

    /* PRESENTACIÓN */
    #titulo {
        background-color: #84A98C; 
        width: 100%;
        height: 50vh;
        text-align: center;
        color: #2F3E46;
    }

    #informacion {
        height: 70vh;
        background-color: #52796F; 
        overflow: hidden;
        color: white;
    }

    #carta1 {
        float: left;
        margin-left: 5%;
    }

    #carta2 {
        float: right;
        margin-right: 5%;
    }

    .estandar-carta {
        width: 40%;
        height: 50vh;
        background-color: #CAD2C5; 
        margin-top: 7vh;
        text-align: center;
        padding: 1%;
        border-radius: 10px;
        border: 2px solid #52796F;
        color: #2F3E46;
    }

    /* ESTADÍSTICAS */
    #estadisticas {
        background-color: #354F52; 
        padding-top: 5vh;
        padding-bottom: 5vh;
        color: white;
    }

    /* TABLA */
    #tabla {
        width: 90%;
        background-color: #CAD2C5;
        min-height: 90vh;
        max-height: 90vh;
        margin-left: 5%;
        overflow-y: auto;
        border: 2px solid #52796F;
        border-radius: 10px;
    }

    /* GRAFICOS */
    #graficos {
        width: 100%;
        height: 60vh;
        display: flex;
        margin-top: 7vh;
    }

    #grafico-barra,
    #grafico-torta {
        margin-left: 5%;
    }

    .estandar-graficos {
        width: 42.5%;
        height: 60vh;
        background-color: #CAD2C5;
        border: 2px solid #52796F;
        border-radius: 10px;
        padding: 10px;
    }

    /* FOOTER */
    footer {
        width: 100%;
        height: 10vh;
        background-color: #2F3E46; 
        text-align: center;
        line-height: 10vh;
        font-weight: bold;
    }
}
